<div class="container">

  <% @reservations.each do |reservation| %>
    <div class="card-product">
      <%= cl_image_tag reservation.costume.image %>
      <div class="card-product-content row">
        <div class="card-product-infos row">
          <h2><%= reservation.costume.name %></h2>
          <p>Réservé par :  <%= reservation.user.first_name %></p>
          <p>Du <%= reservation.starting_date.strftime("%m/%d/%Y") %> au <%= reservation.ending_date.strftime("%m/%d/%Y") %></p>
          <p class="approved-color" style="<%= 'font-weight: bold; text-transform: uppercase; color: black' unless reservation.status == 'pending' %>"><%= reservation.status %></p>
        </div>
        <div class="card-product-reservation-buttons row">
          <% if reservation.status == 'pending' %>
            <%= link_to "Accept", accept_owner_reservation_path(reservation), class: "btn btn-flat-accept", method: :patch %>
            <%= link_to "Decline", decline_owner_reservation_path(reservation), class: "btn btn-flat-decline", method: :patch %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>

