<h1><% @costume.name %></h1>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card-trip">
      <%= cl_image_tag(@costume.image, height: 700, crop: :fill) %>
      <div class="card-trip-infos">
        <div>
          <h2><%= @costume.name.capitalize %></h2>
          <p><%= @costume.address %></p>
          <p><%= @costume.description %></p>
        </div>
        <h2 class="card-trip-pricing">$<%= @costume.price_per_day %></h2>
      </div>
    </div>
  </div>
